body
{
    background: #CCC; 
}

#Header .a:hover
{
    color: #FFF;
}
#bg-img
{
    background: url("../images/bg-pic.png");
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 50px;
}
#contact-form
{
margin-top: 10em;
}